@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*{
    padding: 0;
    margin: 0;
}
body, html{
    scroll-behavior: smooth;
    background-color: #0D1117;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    position: relative;
}


#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #222222;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 1000;
    opacity: 1; 
    transition: opacity 2s ease-in-out;
}
.glow1{
    position: absolute;
}
/* HEADER */
header{
    position: fixed;
    top: 30px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #13171F;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px #EEB832;
    width: 60%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    transition: .3s ease;
}
header .logo{
    display: block;
    background-image: url("../includes/IMG/yung logo sa taas.png");
    background-size: cover;
    height: 50px;
    width: 200px;
}
header img{
    pointer-events: none;
}
header .logo{
    font-size: 40px;
}

header .user{
    cursor: pointer;
    width: 100px;
    height: inherit;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
header .user .profile{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

header .shitsPa{
    background-color: #222222;
    position: absolute;
    right: 0;
    top: 80px;
    width: 350px;
    height: fit-content;
    border: yellow solid 1px;
    border-radius: 10px;
    z-index: 1;
    user-select: none;
    text-align: center;
    color: #fff;
}
header .shitsPa .picAndName{
    margin: 0 0 10px 0;
}
header .shitsPa .picAndName .profile{
    margin: 20px 0 10px 0;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: solid yellow 1px;
}

header .shitsPa .settingAndLogout {
    display: flex;
    justify-content: space-around;
    padding: 15px 15px;
}
header .shitsPa .settingAndLogout #setting,header .shitsPa .settingAndLogout #logOut{
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}
header .shitsPa .settingAndLogout #logOut{
    border: #EEB832 solid 1px;
    padding: 10px 20px;
    color: #EEB832;
    border-radius: 20px;
}

header .settingIcon{
    background-image: url('../includes/IMG/Settings.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

header .logoutIcon{
    background-image: url('../includes/IMG/logout.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}




/* TEMPLATES */
.templates{
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 200px 0;
    flex-wrap: nowrap;
    padding: 0 5%;
    position: relative;
}


.templates h1{
    font-family: "Playfair Display", serif;
    font-size: 5em;
    align-self: center;
    color: #fff;
    font-weight: 200;
    margin: 0 0 10px 0;
}
.templates h2{
    text-align: center;
    color: #fff;
    opacity: .7;
    font-size: 1.3em;
    font-weight: 200;
}
.templates .container{
    margin: 100px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    height: 300px;
    overflow: hidden;
}
.templates .container img{
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.templates .container a {
    position: relative;
    text-align: center;
    color: black; 
    cursor: pointer;
    height: 300px;
    width: 550px;
}

.templates .viewMore{
    margin: 10px 0 0 0;
    display: flex;
    cursor: pointer;
    align-self: flex-end;
    gap: 10px;
    color: #fff;
}
.templates .viewMore img{
    display: block;
    margin: 0 0 0 2px;
}
.templates .container .curtain{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    color: #fff;
    align-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 24px;
    opacity: 0;
    border-radius: 10px;
    transition: all .5s ease;
}
.templates .container .curtain img{
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    width: auto;
    background-color: #fff;
    padding: 5px;
    border-radius: 50px;
}

.templates .container a:hover .curtain{
    opacity: 1;
}
.templates .bg{
    pointer-events: none;
    position: absolute;
    width: auto;
    height: auto;
    max-width: 100%;
}
.templates  .blue1{
    left: 0;
}
.templates .blu2{
    right: 0;
}
.templates .blue3{
    right: 0;
}
.templates .blue4{
    right: 0;
    top: 100%;
}
.templates .yellow1{
    left: 0;
}
.templates .yellow2{
    right: 0;
    top: 120%;
}
.templates .line1{
    top: 100%;
}

/* YOUR PROJECTS */
.projects{
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    gap: 20px;
    flex-wrap: nowrap;
    padding: 0 5%;
    position: relative;
}
.projects h1{
    font-size: 80px;
    align-self: center;
    color: #fff;
    font-weight: 300;
    margin: 10% 0 0 0;
}
.projects input{
    align-self: center;
    width: 25%;
    background-color: transparent;
    border: #EEB832 1px solid;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 50px;
    margin: 0 0 5% 0;
    font-size: 20px;
}
.projects hr{
    height: 1px;
    background-color: #969393;
    border: none;

}

.projects .shits{
    position: relative;
    display: flex;
    gap: 30px;
}
.projects .main{
    width: 100px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    cursor: pointer;
    border: solid #D9D9D9 1px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.projects .sort-div{
    color: #ffffff;
    display: flex;
    text-align: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}
.projects .sort-div .sort{
    appearance: none;  /* Remove default browser styles */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;  /* Background color */
  border: none;  /* Border */
  font-size: 16px;
  color: #ffffff;
  width: auto;
  cursor: pointer;
}
.projects .sort-div .sort{
    outline: none;
    background-color: #000000;
    border-color: none;  /* Change border color on focus */
}

.projects .main svg{
    margin: 5px 0;
    transition: .5s ease;
}
.projects .main .bg{
    position: absolute;
    width: 50px;
    height: 95%;
    left: 1px;
    background-color: #222222;
    transition: .5s ease;
    box-sizing: border-box;
    border-radius: 5px 0 0 5px;
}

.projects .dropDown{
    display: flex;
    position: relative;
    align-items: center;
    color: #ffffff;
}
.projects .dropDown .chosen{
    font-weight: 700;
    cursor: pointer;
}
.projects .dropDown .options.visible{
    height: auto;
    border: #000000 solid 1px;
    transition: height .3s ease;
}
.projects .dropDown .options{
    position: absolute;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    color: #000000;
    bottom: -200px;
    height: 0px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    gap: 10px;
    z-index: 1;
} 
.projects .dropDown .options p{
    padding: 10px;
}
.projects .dropDown .options p:hover{
    cursor: pointer;
    background-color: rgba(112, 100, 100, 0.3);
    transition: .5s ease;
}
.projects .grid{
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: auto;
    user-select: none;
}

.projects .list{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    user-select: none;
}

.projects .listItem{
    position: relative;
    height: 300px;
    width: 550px;
    border-Radius: 10px;
    overflow: hidden;
    z-Index: 0;
    cursor: pointer;
    border: grey 2px solid;

}

.projects .listItem:hover{
    border: yellow solid 2px;
}
.projects .listItem .img{
    display: block;
    height: auto;
    width: 100%;
    object-fit: cover;
}
.projects .listItem .info{
    position: absolute;
    width: 100%;
    height: 70px;
    display: flex;  
    align-items: center;
    bottom: 0;
    background-color: #000000;

}

.projects .listItem .project{
    position: absolute;
    font-size: 32px;
    color: #ffffff;
    bottom: 15px;
    left: 15px;
    font-weight: 200;
    opacity: 1;
}

.projects .listItem .icon{
    position: absolute;
    left: 30px;
    bottom: 15px;
    display: none;
}

.projects .listItem-List{
    height: 70px;
    width: 100%;
}
.projects .listItem .img-List{
    visibility: hidden;
}
.projects .listItem .info-List{
    opacity: 0.3;
}
.projects .listItem .project-List{
    left: 100px;
}
.projects .listItem .icon-List{
    display: block;
}


/* DELETE */
.delete{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
}
.delete .confirmation{
    background-color: #10151D;
    position: relative;
    width: 30%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px 0 0 0;
    border-radius: 5px;
    overflow: hidden;
}
.delete .confirmation .project-name{
    margin: 10px 30px 20px 30px;
    z-index: 2;
    color: #ffffff;
    font-size: 24px;
}
.delete .confirmation button{
    position: relative;
    padding: 10px 0;
    width: 100%;
    color: #DB9D47;
    background-color: transparent;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    font-weight: 400;
    opacity: 1;
    z-index: 2;
}
.delete .confirmation button:hover,.delete .confirmation .close:hover{
    opacity: .5;
    cursor: pointer;
}
.delete .confirmation .close {
    top: 20px;
    right: 20px;
    z-index: 2;
}
.delete .confirmation .confirm-cancel .confirm-delete{
    color: #ffffff;
    background-color: #AC2423;
}
.delete .confirmation .alert{
    position: relative;
    width: 15%;
}

.delete .confirmation img{
    position: absolute;
    height: auto;
    z-index: 0;
}
.delete .confirmation .glow{
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.delete .confirmation .blue{
    bottom: 0;
    left: 0;
}
.delete .confirmation .yellow{
    bottom: 0;
    right: 0;
}

/* RENAME */
.rename{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
}
.rename img{
    position: absolute;
    display: block;
    z-index: -1;
}
.rename .confirmation{
    background-color: #10151D;
    position: relative;
    width: 30%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 30px 0 30px;
    border-radius: 5px;
    color: #ffffff;
    overflow: hidden;
}
.rename .confirmation .glow{
    right: 0;
    bottom: 0;
    width: 100%;
}
.rename .confirmation .close{
    top: 30px;
    right: 30px;
    z-index: 2;
}
.rename .confirmation hr{
    margin: 0 -100px;
}
.rename .confirmation p{
    margin: 30px 0 10px 0;
}
.rename .confirmation h1{
    font-weight: 500;
}
.rename .confirmation button{
    padding: 15px 0;
    width: 100%;
    border: none;
    background-color: transparent;
    font-size: 20px;
    border-radius: 3px;
    font-weight: 400;
    color: #DB9D47;
}
.rename .confirmation button:hover, .rename .confirmation .close:hover{
    opacity: .5;
    cursor: pointer;
}
.rename .confirmation .cancel-rename{
    background-color: transparent;
    border: #ffffff solid 1px;
    color: #ffffff;
}
.rename .confirmation input{
    margin: 0 0 40px 0;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 200;
    box-sizing: border-box;
    width: 100%;
    background-color: transparent;
    border: solid #ffffff 1px;
    border-radius: 5px;
    color: #ffffff;
    max-width: 100%;
}

.rename .confirmation .confirm-cancel {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
    gap: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.tago{
    visibility: collapse;
}
::-webkit-scrollbar{
    display: none;
}

@media screen and (max-width: 1800px){
    .projects #fileList, .templates .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 1189px){
    .projects #fileList, .templates .container{
        grid-template-columns: repeat(1, 1fr);
    }

    .rename .confirmation{
        width: 50%;
    }

    .delete .confirmation{
        width: 50%;
    }
}

