@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*{
  padding: 0;
  margin: 0;
}
body{
  background-color: #f0f0f0;
}
html,body{
  height: 100%;
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 1000;
}
.main{
  height: 100%;
}

.main .logo{
  width: 40px;
  height: 40px;
  background-image: url("../includes/IMG/logooo-01.png");
  background-size: cover;
  display: block;
  position: absolute;
  justify-self: center;
  margin: auto;
}


/* remove css block to make default(grid) */
/* .gjs-block {
  width: auto;
  height: auto;
  min-height: auto;
} */

.panel__top {
  padding: 0;
  width: 100%;
  display: flex;
  position: initial;
  justify-content: center;
  font-weight: 300;
}


.editor-row {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  /* adjust to 920px para mag full screen */
  height: 95%; 
}

.editor-canvas {
  flex-grow: 1;
}



.panel{
  flex-basis: 250px;
  position: relative;
  overflow-y: auto;
  height: 100%;
  background-color: #454545;
}
.panel__styles{
  position: relative;
  width: 250px;
}
.panel__basic-actions {
  position: initial;
}

.panel__switcher {
  position: relative;
  width: 250px;
  
}

.panel__devices {
  position: initial;
  margin: 0 auto 0 0;
}



/* CANVAS */

/* Reset some default styling */
.gjs-cv-canvas {
  top: 0;
  width: 100%;
  height: 100%;
}

#gjs {
  border: none;
}

#gjs-cm-htmlmixed{
  position: relative;
}
#gjs-cm-htmlmixed .alertHtmlCopy{
  height: fit-content;
  background-color: #10151D;
  position: absolute;
  top: 45%;
  left: 10px;
  padding: 20px;
  color: #2E6A17;
  font-size: 22px;
  font-weight: 700;
}
#gjs-cm-htmlmixed .copyHTML{
  background-color: #777272;
  position: absolute;
  right: 10px;
  bottom: 0;
  padding: 5px 10px;
  color: #ffffff;
}

#gjs-cm-css{
  position: relative;
}
#gjs-cm-css .alertCssCopy{
  height: fit-content;
  background-color: #10151D;
  position: absolute;
  top: 45%;
  left: 20px;
  padding: 20px 30px;
  color: #2E6A17;
  font-size: 22px;
  font-weight: 700;
}

#gjs-cm-css .copyCSS{
  background-color: #777272;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 10px;
  color: #ffffff;
}

.gjs-mdl-content span:hover{
  cursor: pointer;
  opacity: .7;
}

.no-selection-message {
  display: block;
}

.has-selection .no-selection-message {
  display: none;
}

.icons-flex {
  background-size: 70% 65% !important;
  height: 15px;
  opacity: 0.9;
}
.icon-dir-row {
  background: url("../includes/IMG/dir-row.png") no-repeat center; 
}
.icon-dir-row-rev {
  background: url("../includes/IMG/dir-row-reverse.png") no-repeat center;
}
.icon-dir-col {
  background: url("../includes/IMG/dir-column.png") no-repeat center;
}
.icon-dir-col-rev {
  background: url("../includes/IMG/dir-column-reverse.png") no-repeat center;
}
.icon-just-start{
 background: url("../includes/IMG/justify-flex-start.png") no-repeat center;
}
.icon-just-end{
 background: url("../includes/IMG/justify-flex-end.png") no-repeat center;
}
.icon-just-sp-bet{
 background: url("../includes/IMG/justify-space-between.png") no-repeat center;
}
.icon-just-sp-ar{
 background: url("../includes/IMG/justify-space-around.png") no-repeat center;
}
.icon-just-sp-cent{
 background: url("../includes/IMG/justify-center.png") no-repeat center;
}
.icon-al-start{
 background: url("../includes/IMG/align-flex-start.png") no-repeat center;
}
.icon-al-end{
 background: url("../includes/IMG/align-flex-end.png") no-repeat center;
}
.icon-al-str{
 background: url("../includes/IMG/align-stretch.png") no-repeat center;
}
.icon-al-center{
 background: url("../includes/IMG/align-center.png") no-repeat center;
}

[data-tooltip]::after {
  background: rgba(51, 51, 51, 0.9);
}

#screenshotResult{
  position: absolute;
  top: 0;
  z-index: -1;
}

.error{
  display: none;
}
/* PREVIEW */
#preview-container{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}
.edit{
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px;
  background-color: blue;
  color: #ffffff;
  cursor: pointer;
  z-index: 4;
}
.edit:hover{
  opacity: .7;
}

@media screen  and (max-width: 768px){
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main{
    display: none;
  }
  
  .error{
    display: inline;
  }
}

::-webkit-scrollbar{
  display: none;
}

/* We can remove the border we've set at the beginning */
#gjs {
  border: none;
}
/* Theming */

/* Primary color for the background */
.gjs-one-bg {
  background-color: #0D1117;
}

/* Secondary color for the text color */
.gjs-two-color {
  color: #858585;
  background-color: #1A1F29;
}

/* Tertiary color for the background */
.gjs-three-bg {
  background-color: red;
  color: white;
}

/* Quaternary color for the text color */
.gjs-four-color,
.gjs-four-color-h:hover {
  color: #ffffff;
}

.panel__styles .gjs-pn-btn{
  width: 100%;
  height: 100%;   
  display: inline;
}
.panel__styles .gjs-pn-btn::before{
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  border: #858585 solid 1px;
}
.panel__styles .gjs-pn-btn.gjs-pn-active::before{
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  border: #5432EE solid 1px;
}

.panel__switcher .gjs-pn-btn{
  width: 100%;
  height: 100%;   
  display: inline;
}
.panel__switcher .gjs-pn-btn::before{
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  border: #858585 solid 1px;
}
.panel__switcher .gjs-pn-btn.gjs-pn-active::before{
  content: " ";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  border: #5432EE solid 1px;
}