@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*{
    padding: 0;
    margin: 0;
}
body, html{
    scroll-behavior: smooth;
    background-color: #0D1117;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
    position: relative;
}

header .nav button:hover, .burgerMenu ul button,.home button:hover{
    border: solid #ffffff 2px;
    color: #ffffff;
}

img{
    pointer-events: none;
    user-select: none; 
}
.glow1{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
}
h2{
    opacity: .7;
    color: #ffffff;
}
/* HEADER */
header{
    position: fixed;
    top: 30px;
    right: 0;
    left: 0;
    margin: auto;
    background-color: #13171F;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px #EEB832;
    width: 60%;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    transition: .3s ease;
}
header img{
    height: 40px;
}

header div{
    margin: 0 2% 0 0;
}
header .nav ul {
    display: flex;
    align-items: center;
    gap: 40px;
}
header button{
    border: none;
    padding: 5px 30px;
    border-radius: 10px;
    color: #F7F4F3;
    background-color: #4F35C1;
    border: transparent solid 2px;
    font-size: 1em;
    cursor: pointer;
}

/* header .login:hover{
    border: #ffffff solid 2px;
    color: #ffffff;
} */

header .nav ul a{
    text-decoration: none;
    color: #f1f1f1;
    font-size: 1em;
    position: relative;
    font-weight: 300;
    transition: .5s;
}

header .nav ul a::after{
    content: ' ';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #ECC053;
    border-radius: 5px;
    left: 0;
    bottom: -5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: transform .5s;
}
header .nav ul a:hover{
    color: #ECC053;
    cursor: pointer;
}
header .nav ul a:hover::after{
    transform-origin: center;
    transform: scaleX(.80);
}

header .burger{
    position: absolute;
    right: 30px;
    display: none;
}
.burgerMenu{
    position: fixed;
    right: -200;
    height: 100%;
    padding: 15px 20px;
    box-sizing: unset;
    top: 0;
    background-color: #0D1117;
    box-shadow: 0px 0px 5px 1px #EEB832;
    margin: 0;
    z-index: 2;
    text-align: right;
    transition: .5s ease;
}
.burgerMenu img{
    pointer-events: all;
}
.burgerMenu ul{
    font-size: 28px;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.burgerMenu ul a{
    text-decoration: none;
    color: #ffffff;
}
.burgerMenu ul a:hover{
    color: #ECC053;
    cursor: pointer;
}
.burgerMenu ul a:hover::after{
    transform-origin: center;
    transform: scaleX(.80);
}

.burgerMenu ul button{
    border: 2px solid #ECC053;
    padding: 10px 50px;
    border-radius: 100px;
    color: #ECC053;
    background-color: transparent;
    font-size: 20px;
    transition: .5s ease;
    cursor: pointer;
}


/* HOME */
.home {
    position: relative;
    margin: 150px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
}

.home .first{
    height: 600px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home .first h1{
    font-size: 3.5em;
    background: linear-gradient(to right, #D5A42C 0%, #FFFFFF 100%);
    background-size: contain;
    background-clip: text;
    color: transparent;
    opacity: .7;
    z-index: 1;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-variation-settings: "width" 100;
}
  
.home h2{
    margin: 50px 50px 0 0;
    font-size: 18px;
    font-weight: 200;
    z-index: 1;
    box-sizing: border-box;
}
.home .placement{
    width: 30%;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.glow-on-hover {
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    border: transparent solid 2px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    margin: 30px 0 0 0;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #4F35C1;
    left: 0;
    top: 0;
    border-radius: 10px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* TUTORIALS */
.tutorials{
    position: relative;
    width: 100%;
    margin: 5% 0 0 0;
    text-align: center;
    color: #ffffff;

}
.tutorials h1{
    font-size: 2em;
    font-weight: 300;
}
.tutorials h2{
    font-size: 1em;
    font-weight: 200;
    margin: 20px 0 60px 0;
}
.tutorials .spans{
    position: relative;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  margin: 0 0 50px 0;
}
.tutorials .spans span{
    padding: 10px 20px;
    color: #858585;
  cursor: pointer;
  transition: color 0.3s ease;
  position: relative;
  border-radius: 15px;
}
.tutorials .spans span.active {
    color: #ffffff;
    opacity: .7;
}

.tutorials .spans::before {
    content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 4px;
  width: 0;
  transition: left 0.5s ease, width 0.5s ease;
  }


.tutorials .placement{
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    width: 70%;
    height: 70%;
    background-color: #222222;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}




/* TEMPLATES */
.templates {
    margin: 10% 0 0 0;
    user-select: none;
    width: 100%;
    padding: 10px 0;
    z-index: 2;
    text-align: center;
    color: #ffffff;
    transition: .5s ease;
}
.templates .carousel-wrapper .s-1{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: transparent;
    box-shadow: -10px 0 100px 150px black;
    z-index: 1;
}
.templates .carousel-wrapper .s-2{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: transparent;
    box-shadow: 10px 0 100px 150px black;
    z-index: 1;
}
.templates .d-1{
    position: relative;
}
.templates .d-1 h1{
    font-size: 2em;
    font-weight: 300;
    position: relative;
}
.templates .d-1 img{
    position: absolute;
    top: 0;
    left: 0;
    right: 300px;
    bottom: 0;
    margin: auto;
}
.templates h2{
    font-size: 1em;
    font-weight: 200;
    margin: 10px 0 100px 0;
}
.templates .carousel-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    overflow: hidden;

}

.templates .carousel {
    display: flex;
    gap: 20px;
}

.templates .first {
    animation: scroll-right 30s linear infinite;
}

.templates .second {
    animation: scroll-left 30s linear infinite;
}
.templates .carousel img{
    border-radius: 10px;
    position: relative;
    pointer-events: all;
    cursor: pointer;
    width: 30%;
    height: auto;
    margin-right: 10px;
}
/* Make both carousels have an endless flow by duplicating their content */
.templates .first::after, .templates .second::after {
    content: '';
    display: block;
    width: 100%;
    flex-shrink: 0;
}
/* Hover effect to pause the animation when hovering over an image */
.templates .carousel img:hover {
    animation-play-state: paused;
    opacity: .7;
} 

/* Apply the pause to the entire carousel when hovering over any image */
.templates .carousel:hover {
    animation-play-state: paused;
} 

/* Keyframe for scrolling the first div to the right */
@keyframes scroll-right {
    0% {
        transform: translateX(-220%);
    }
    100% {
        transform: translateX(-30.5%);
    }
}

/* Keyframe for scrolling the second div to the left */
@keyframes scroll-left {
    0% {
        transform: translateX(-30.5%);
    }
    100% {
        transform: translateX(-220%);
    }
}

/* Ensure the images are duplicated to create the infinite effect */
.templates .carousel::after {
    content: '';
    display: block;
    width: 100%;
    flex-shrink: 0;
}

/* SERVICES */
.service{
    height: auto;
    color: #ffffff;
    gap: 50px;
    position: relative;
    padding: 0 10%;
    margin: 200px 0 0 0;
}
.service table{
    color: #ffffff;
    right: 0;
    left: 0;
    margin: auto;
    border-collapse: separate;
    border-spacing: 20px;
}
.service table h1{
    font-size: 2em;
    font-weight: 400;
    position: relative;
}
.service table h2{
    font-size: 1em;
    margin: 0 0 10px 0;
}
.service table p{
    font-size: 1em;
    color: #ffffff;
    opacity: .7;
    font-weight: 300;
}
.service table h2{
    opacity: 1;
}
.service table img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.service table tr td{
    text-align: start;
    width: 350px;
    height: 350px;
    border: transparent solid 1px;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    vertical-align: text-top;
}
.r-1 .c-1{
    vertical-align: middle;
}
.r-1 .c-2{
    border: rgb(238, 184, 50) solid 1px;
    background: linear-gradient(20deg, #EEB832 0%, #000 64%);
}
.r-1 .c-3{
    border: rgb(84, 50, 238) solid 1px;
    background: linear-gradient(to top, #5432EE 0%, #362872 20%, #0D1117 70%);
}
.r-2 .c-1{
    border: rgb(30, 21, 54) solid 1px;
    background: linear-gradient(125deg, #000 20%,#21163d 60%, #2877b8 100%);
}
.r-2 .c-2{
    border: #EE32AF solid 1px;
    background: linear-gradient(160deg, #0D1117 25%, #286472 60%, #EE32AF 100%);
}    
.r-2 .c-3{
    border: #0C3230 solid 1px;
    background: linear-gradient(20deg, #7D6930 0%, #0C3230 36%, #000103 80%);
}
.r-3 .c-2{
    border: #0C3230 solid 1px;
    background: linear-gradient(150deg, #0D1117 30%, #287263 80%, #32EEC2 100%);
}


/* FAQS */
.FAQs{
    height: auto;
    color: #ffffff;
    padding: 0 10%;
    margin: 5% 0 10% 0;
    position: relative;
}

.FAQs h1{
    text-align: center;
    font-size: 3em;
    font-weight: 300;
}
.FAQs h2{
    text-align: center;
    font-weight: 200;
    font-size: 1.1em;
    margin: 10px 0 80px 0;
}
.FAQs .all{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.FAQs .container{
    height: fit-content;
    cursor: pointer;
    padding: 40px;
    background-color: #13171F;
    border: rgba(237, 231, 216, .1) solid 1px;
    border-radius: 20px;
}
.FAQs .container .Tutorial{
    color: rgb(129, 221, 221);
    text-decoration: underline;
}
.FAQs .container p{
    display: none;
    width: auto;
    margin: 10px 0 0 0;
    background-color: #13171F;
}
.FAQs .container .title {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: none;
    pointer-events: none;
}
.FAQs .container .title img{
    width: 26px;
    height: 26px;
    filter: sepia(10%) saturate(10%) hue-rotate(180deg) brightness(0.5);
}
.FAQs div div h4{
    font-size: 24px;
    font-weight: 500;
    color: #858585;
}

.FAQs div p{
    width: 80%;
}

.FAQs div a{
    font-style: none;
    text-decoration: none;
    color: #4898b8;
}

.FAQs div img{
    width: 26px;
    z-index: 0;
    transition: .5s ease;
}


/* ABOUT US */

.about{
    position: relative;
    width: 100%;
    text-align: center;
}
.about h1{
    position: relative;
    font-size: 2em;
    color: #ffffff;
    font-weight: 300;
    z-index: 3;
}
.about h2{
    font-size: 1em;
    font-weight: 200;
    position: relative;
}
.about .kame{
    margin: 100px 0 0 0;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    position: relative;
}
.about .kame .container img{
    pointer-events: all;
    display: block;
    width: 15%;
    border-radius: 50%;
}
.about .kame .container{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}
.about .kame .container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about .yuna{
    padding: 20px;
    background-color: #5432EE;
}
.about .abby{
    padding: 20px;
    background-color: #4F9631;
}
.about .ako{
    padding: 20px;
    background-color: #FF4DBE;
}
.about .pavia{
    padding: 20px;
    background-color: #EEB832;
}
.about .line{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 0px;
    height: 100%;
    border: #EEB832 solid 1px;
    background-color: green;
}
.about .glow3{
    position: absolute;
    top:-50px;
    right: 0;
    left: 150px;
    margin: auto;
    z-index: 2;
}
.about .circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #EEB832;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
.about .glow4{
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    transform: rotate(180deg);
}

/* FOOTER */
footer{
    box-shadow: 0px 0px 60px 10px #0D1117;
    padding: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;
    color: #858585;
    background-color: #0D1117;
}

/* LOGIN AND REGISTRATION FORM */
.login-reg{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 1000;
    background-color: #0D1117;
    background-image: url("../includes/IMG/Noise & Texture.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.login-reg .container{
    height: auto;
    width: 350px;
    position: relative;
    background-color: transparent;
    border-radius: 30px;
    padding: 70px 70px 50px 70px;
    gap: 10px;
    overflow: hidden;
}
.login-reg button{
    position: relative;
    width: 100%;
    padding: 12px 0;
    background-color: #4F35C1;
    border-radius: 15px;
    border: rgba(237, 231, 216, .1) solid 1px;
    color: #ffffff;
    font-weight: 300;
    font-size: 1em;
    z-index: 1;
    pointer-events: none;
    opacity: .5;
    transition: .5s ease;
}
.login-reg button:hover{
    opacity: .7;
}
.login-reg span{
    color: #4F35C1;
    cursor: pointer;
    transition: .5s;
}
.login-reg .container .or{
    margin: 30px 0;
}
.login-reg .container #google{
    background-color: #3576C1;
    display: flex;
    position: relative;
    padding: 12px 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 5% 0 0 0;
}
.login-reg .container .glowReverse{
    position: absolute;
    top: 0;
    right: 0;
}
.login-reg .container #guest{
    background-color: #13171F;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 12px 0;
    width: 100%;
    border: rgba(238, 184, 50, .2) solid 1px;
    border-radius: 15px;
    margin: 5% 0 0 0;
}
.login-reg .container #google:hover, #guest:hover{
    opacity: .5;
    cursor: pointer;
}
.login-reg span:hover{
    color: #ffffff;
}
.login-reg h3{
    font-size: 35px;
    font-weight: 400;
}
.login-reg .container .password-box{
    position: relative;
}

.login-reg .close{
    position: absolute;
    top: 80px;
    left: 70px;
    cursor: pointer;
    color: #858585;
}
.login-reg .close:hover{
    color: #ffffff;
}

.login-reg .container .likod{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
.login-reg .container .logo{
    width: 100%;
    color: #ECC053;
    z-index: 2;
    margin: 0 0 50px 10px;
}
.login-reg .container label{
    color: #ffffff;
    opacity: .8;
    font-weight: 200;
    font-size: .8em;
    margin: 0 0 0 10px;
}
.login-reg .container p{
    display: flex;
    justify-content: space-evenly;
    font-weight: 300;
    opacity: .8;
    font-size: .9em;
}

.login-reg .container hr{
    margin: 10px 0 0 0;
}

.login-reg .login-form, .login-reg .reg-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-reg .container .logo img{
    width: 70px;
}
.login-reg input{
    background-color: #1A1F29;
    border-radius: 15px;
    color: #ffffff;
    border: rgba(237, 231, 216, .1) solid 1px;
}

/* LOGIN FORM */
.login-form > div:nth-child(-n+2) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.login-form > div:nth-child(-n+2) input{
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.login-reg .login-form .log-showhide{
    text-align: center;
    display: block;
    width: 20px;
    position: absolute;
    cursor: pointer;
    transition: 1s;
    pointer-events: all;
    right: 20px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.login-reg .login-form .p-1{
    position: relative;
}



/* REGISTRATION FORM */

.reg-form > div:nth-child(-n+3) {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reg-form > div:nth-child(-n+3) input{
    padding: 15px;
    width: 100%;
    border-radius: 10px;
}
.reg-form .notes{
    font-size: .6em;
}
.reg-form .i-2, .reg-form .i-3{
    position: relative;
    text-align: center;
}

.login-reg .reg-form .reg-showhidepassword,.login-reg .reg-form .reg-showhideconfirmpassword{
    width: 20px;
    position: absolute;
    right: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
   /*  top: 50%;
    right: 10px; */
    cursor: pointer;
    pointer-events: all;
}
.login-reg .login-form-hide{
    display: none;
}

.login-reg .reg-form-hide{
    display: none;
}

.hide{
    display: none;
}

/* Ensure elements are not set to hidden by default */
.tutorials, .templates, .service, .FAQs {
    opacity: 1;
    visibility: visible;
  }
  


::-webkit-scrollbar{
    display: none;
}

