
@media (max-width: 1024px){
    /* HOME */
    .home h1{
        font-size: 50px;
    }
    .home h2{
        font-size: 18px;
    }
    .home h3{
        font-size: 16px;
    }

    /* SERVICE */
    .service h1{
        font-size: 50px;
    }
    .service h2{
        font-size: 15px;
    }
    .service p{
        font-size: 10px;
    }
    .service .line{
        display: none;
    }
    /* ABOUT */
    .about h1{
        font-size: 50px;
    }
    .about .kame div img{
        width: 60%;
    }
    .about .moreAboutUs .texts h2{
        font-size: 26px;
    }
    .about .moreAboutUs .texts p{
        font-size: 12px;
    }
  }
  
@media (max-width: 768px) {

    /* HEADER */
    header .nav{
        display: none;
    }
    header .burger{
        display: block;
        height: 40px;
        z-index: 10;
        pointer-events: all;
    }
    header .burger:hover{
        opacity: .5;
        cursor: pointer;
    }

    /* HOME */
    .home h1{
        font-size: 40px;
    }
    .home h2{
        font-size: 18px;
        width: auto;
    }
    .home h3{
        font-size: 16px;
    }
    .home .codes{
        top: 30%;
    }

    /* SERVICE */
    .service h1{
        font-size: 40px;
    }

    .service h2{
        font-size: 12px;
    }
    .service p{
        font-size: 8px;
    }
    .service .container .features .content div img{
        position: relative;
        height: 15px;
        width: 15px;
        align-self: center;
    }

    /* FAQ */
    .FAQs h1{
        font-size: 40px;
    }
    .FAQs .container .title h4{
        font-size: 16px;
    }
    .FAQs .container p, .FAQs .container a{
        font-size: 10;
    }

    /* ABOUT US */
    .about h1{
        font-size: 40px;
    }
    .about img{
        height: 150px;

    }
    footer{
        padding: 0 50px;
    }   
    footer p{
        font-size: 12px;
    }   
    footer h1{
        font-size: 16px;
    }   
    footer div a{
        font-size: 12px;
    }
}


@media screen and (max-width: 425px) {
    
    header div{
        display: none;
    }

    /* HOME */
    .home{
        height: 65%;
    }
    .home h1{
        font-size: 36px;
        margin: 0 20px;
    }
    .home h2{
        width: auto;
        margin: 0 20px;
        height: auto;
    }
    .home h3{
        width: auto;
        margin: 0 20px;

    }
    .home button{
        margin: 0 20px;
    }
    .home .codes{
        display: none;
    }

    /* SERVICE */
    .service h1{
        font-size: 36px;
    }
    .service .container .features .pic{
        display: none;
    }
    .service .container .features .content{
        position: relative;
        width: 100%;
        margin: 10px 20px;
    }

    /* FAQS */
    .FAQs .all .container .title h4{
        font-size: .7em;
    }
    .FAQs .all .container .title img{
        width: 10px;
        height: 10px;
    }


    /* ABOUT US */
    .about .kame{
        background-image: url("../includes/IMG/line\ about.png");
        background-position: center;
        background-size: cover;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .about .kame div{
        
        height: 150px;
        width: 150px;
        text-align: center;
        align-content: center;
    }
    .about .moreAboutUs img{
        display: none;
    }

    .about .moreAboutUs .texts{
        width: 100%;
        padding: 0 50px;
    }

    /* FOOTER */
    footer .main{
        margin: 10px 0;
    }
    footer .main p{
        font-size: .2em;
    }
    footer .main h1{
        font-size: .1em;
    }
    footer .main .inner{
        display: none;
    }
}